*.o
*.swp
*.swo
build/
build*/
CMakeLists.txt.user*
CMakeFiles/
code/cpp/distrib_copy/build/*
code/cpp/distrib_copy/CMakeLists.txt.user
code/cpp/mosaic_spacing/build/*
code/cpp/mosaic_spacing_gpu/build/*
cudawrite*.txt
code/cpp/build-*
code/cpp/sunlight_sim/build*
*.pyc
cmake-build*
.idea

test_binary_readwrite/main
test_binary_readwrite/main_read

packages
packages.config
temp
out
.vs
*.vcxproj.user
data/.DS_Store
.DS_Store
.DS_Store
ecoviz/.DS_Store
ecoviz/viz/.DS_Store
data/.DS_Store
data/test2.zip
data/test2/.DS_Store
data/test2/dem.elv.zip
data/test2/ecoviz.elv
data/test2/ecoviz_0.pdb
data/test2/ecoviz_1.pdb
data/test2/ecoviz_2.pdb
data/test2/ecoviz_3.pdb
data/test2/ecoviz_4.pdb
data/test2/ecoviz_5.pdb
data/test2.zip
ecoviz/.DS_Store
ecoviz/viz/.DS_Store
.DS_Store
data/test2.zip
data/test2/ecoviz.elv
/data/BGD_full
/data/BGD_KBT
/data/Mitsuba/Instances
/data/Mitsuba/Terrain
/data/test2_old
/deploy
/ecoviz/european.db
/ecoviz/ecoviz.vcxproj.user
/data/Mitsuba
/data/test
/ecoviz/viz/resources.cpp
/data/test2/Mitsuba
/data/BGD_KBT_old
